body{
    background-color: #F0F2FC;
    margin: 0;
}
/*--------------------------------------------             ACCUEIL                 -------------------------------------------------------------------*/
main.accueil > img{
    width: 50%;
    border: solid 10px #0156A5;
}

main.accueil > img:nth-of-type(3){
    border: solid 10px #8C97E9
}

main.accueil > img:nth-of-type(4){
    border: solid 10px #5567EB
}

main.accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.accueil{
    background-color: #2C2E7A;
    padding: 1em;
    margin: 2em 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

section.accueil:nth-of-type(2), section.accueil:nth-of-type(4){
    display: flex;
    flex-direction: column;
}

section.accueil:nth-of-type(4){
    width: 50%;
}

section.accueil article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%
}

section.accueil p{
    color: #F0F2FC;
    font-size: 25px;
    text-align: center;
    font-family: "Roboto";
}

section.accueil a{
    color: #F0F2FC;
    text-decoration: none;
}

section.accueil a:hover{
    text-decoration: underline;
}


section.accueil article img{
    width: 100%;
}


section.accueil:last-of-type{
    display: flex;
    align-items: center;
}

section.accueil:last-of-type article{
    width: 40%;
}

main.accueil h4{
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
    font-family: "league Spartan";
    font-size: 25px;
    background-color: #080A12;
    color: #F0F2FC;
    width: auto;

    border-radius: 30px;
}



/*-----------------------------------HEADER--------------------------------------------------------*/
header {
    position: sticky;
    top: 0%;
    display: flex;
    align-items: center;
    height: 6em;
    width: 100%;
    background-color: rgba(8, 10, 18, 0.5);
    background-image: url(media/general/logo_JO.png);
    background-repeat: no-repeat;
    background-position: right;
    z-index: 2;
}



header h2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    height: 1.5em;
    width: 10em;
    color :aliceblue;
    font-family: "league Spartan", serif;
    font-size: 2em;
    margin-left: 2em;
    position: relative;
    background-color: #080A12;
}

header img{
    position: relative;
    margin-left: 1em;
}

/*-----------------------------------------------------COMMUN-----------------------------------------------------*/


#imageacceuil{
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080A12;
    color :#F0F2FC;
    font-size: 3em;
    font-family: "league Spartan";
    margin: 0 43%;
    height: 2em;
    width: auto;
    padding: 0 1em;
    border-radius: 30px;
}

h3{
    display: flex;
    align-items: center;
    font-family: "league spartan", arial;
    font-size: large;
    background-color: #080A12;
    color: #F0F2FC;
    height: 5em;
    width: 70%;
    padding-left: 20px;
    background-image: url(media/general/logo_JO.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 5em;
    border-radius: 20px;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10%;
    z-index: 2;
}

.side-menu a {
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu img{
    position: absolute;
    top: 5%;
    width: 50%;
}

.side-menu a:hover {
    background-color: #575757;
}

.side-menu .close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
}

.main-content {
    padding: 20px;
}

.open-btn {
    width: 4em;
    cursor: pointer;
    transition: transform 0.2s ease;
}

main section {
    background-color: #ffffff;
    padding: 1em;
    margin: 2em 4em;
    border-radius: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}



/*--------------------------------------------tableaux----------------------------------------------*/
table {
    width: 100%;
    border-spacing: 2px;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

td{
    background-color: #F0F2FC;
}

thead {
    background-color: #080A12; 
    color: white;
    font-weight: bold;
}

thead th {
    padding: 10px;
}

tbody td, thead th {
    padding: 10px; 
    text-align: center;
}

td {
    text-align: center;
}

table caption {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #2C2E7A;
}
/*--------------------------------------------------------------------------------------------------*/

/*--------------------------------------------footer----------------------------------------------*/
footer {
    background-color: #151a30;
    color: #fff;
    padding: 20px 3%;
    display: flex;  
    flex-wrap: nowrap; 
    text-align: center;
}

footer>img:first-of-type {
    width: 10em;
    height: 11em;
}


footer ul li {
    list-style: none;
    text-align: left;
    margin-top: 10px;
}

footer ul li a {
    text-decoration: none; 
    color: white; 
    font-size: 15px;

}

footer ul li img{
    width: 2em;
    margin: 0 5px;
}

#social-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-content: center;
    gap: 10px;
    align-items: center; 
}

footer article{

    width: 20%;
    margin: 0 3%;
    padding-left: 3%;
    border-left: solid 1px #F0F2FC;
}

footer article img{
    size: 2%;
}

/*--------------------------------------------------------------------------------------------------*/

/*--------------------------------------------             DISCIPLINE                -------------------------------------------------------------------*/

/*                                          section histoire*/
.discipline-histoire {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    background-color: #F0F2FC;
  }
  
  .discipline-bloc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 2rem; 
  }
  
  .discipline-texte {
    flex: 1; 
    text-align: left;
    max-width: 50%; 
  }
  

  .discipline-image {
    flex: 1; 
    max-width: 50%;
    text-align: center;
  }

/*                                                 Section des blocs "Techniques" */


.discipline-techniques h4 {
    font-size: 2rem; 
    color: #F0F2FC; 
    text-align: center; 
    margin: 0; 
    padding: 1rem 0; 
    background-color: #080A12; 
    border-radius: 15px; 
    width: 70%; 
}

.discipline-techniques-regles section{
    background-color: #000000;
}

.discipline-techniques {
    display: flex; 
    flex-wrap: wrap;  
    gap: 10px; 
    padding: 5px; 
    background-color: #101010; 
    align-items: center;
    border-radius: 15px;
}

.discipline-techniques article {
    background-color: #0156A5;
    display: flex;
    flex-direction: column;
    max-width: 45%; 
    width: 100%; 
    padding: 10px; 
    border-radius: 10px;
    align-items: center;
}


.discipline-techniques img {
    width: 100%;  
    height: auto;  
}

.discipline-techniques-regles {
    background-color: #b29efb; 
}
/*----------------------------------- Section Epreuves ------------------------------*/
.discipline-epreuves {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 2em auto; 
    padding: 2em; 
    background-color: #8C97E9;
    border-radius: 20px;
    width: 90%; 
}

.discipline-epreuves h3 {
    text-align: center; 
    font-size: 2rem;
    color: #080A12; 
    margin-bottom: 1.5em; 
}

.discipline-epreuves-container {
    display: flex;
    justify-content: space-between; 
    
    width: 100%;
}


.discipline-epreuves-list {
    display: block; 
    width: 48%; 
}

.discipline-epreuves-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;  
    color: black;         
  }

  .discipline-epreuves-list li {
    position: relative;
    padding-left: 50px; 
  }


  .discipline-epreuves-list li::before {
    content: '';    
    position: absolute;
    left: 0;
    top: 50%; 
    transform: translateY(-50%); 
    width: 20px;
    height: 20px; 
    background: url('../media/discipline/images/icon-natation.png') no-repeat center center;
    background-size: contain; 
  }
  .discipline-epreuves-list a {
    text-decoration: none; 
    color: black; 
    font-size: 1.8rem; 
    font-weight: bold; 
}

/*--------------------------------                Adaptation téléphone                        -----------------------------------------------------------------*/

/*---------------------------------------------      ACCUEIL       -----------------------------------------------------------------------*/
@media (max-width: 768px) {
    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
    }
  
    section.accueil {
      flex-direction: column;
      margin: 1em; /* Réduire les marges */
      padding: 1em;
    }
  
    section.accueil article {
      width: 100%; 
      margin-bottom: 1em;
    }
  
    section.accueil:nth-of-type(4) {
      width: 100%;
    }
  
    table {
      font-size: 14px;
      overflow-x: auto; 
    }
  
    table caption {
      font-size: 16px;
    }
  
    #social-icons {
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
    }
  
    h1, h2, h3, h4 {
      font-size: 1.5em;
    }

    .side-menu {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 15%;
        z-index: 2;
    }

    .side-menu .close-btn {
        position: absolute;
        top: 10px;
        right: 0;
        font-size: 36px;
        margin-left: 50px;
        text-decoration: none;
        color: white;
    }
    .open-btn {
        width: 3em;
        cursor: pointer;
        transition: transform 0.2s ease;
    }

    .side-menu img{
        position: absolute;
        top: 2%;
        width: 50%;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer article{
        border: none;
    }
  }

/*--------------------------------------      Discipline        -----------------------------------------------------*/

@media (max-width: 768px) {
    main {
        margin: 0;
        padding: 0;
    }

    main section {
        margin: 1em 1em;
    }

    h1 {
        font-size: 2em;
        margin: 1em auto;
        width: 80%;
    }

    h3 {
        font-size: medium;
        padding: 1em;
        background-size: 3em;
    }

    .discipline-histoire .discipline-bloc {
        flex-direction: column; 
    }

    .discipline-histoire .discipline-texte,
    .discipline-histoire .discipline-image {
        max-width: 100%;
    }

    .discipline-histoire .discipline-image img {
        max-width: 100%;
    }
    .discipline-bloc {
        display: flex; 
        flex-direction: column;
        align-items: center;
        
      }

    .discipline-techniques h4 {
        font-size: 1.5rem; 
        padding: 0.8rem 0; 
        width: 90%; 
    }

    .discipline-techniques {
        flex-direction: column; 
        gap: 15px; 
        padding: 10px; 
    }

    .discipline-techniques article {
        max-width: 80%; 
        padding: 15px; 
        text-align: center; 
    }

    .discipline-techniques img {
        max-width: 100%; 
        border-radius: 10px; 
    }

    .discipline-techniques p {
        font-size: 0.9rem; 
    }


    
    .discipline-epreuves-container {
        flex-direction: column;
        align-items: stretch;
        align-items: center;
    }

    .discipline-epreuves-list li {
        font-size: 0.9rem;
        padding: 2em;
    }
    
    table {
        font-size: 14px; 
    }

    table caption {
        font-size: 18px;
    }

    tbody td, thead th {
        padding: 5px;
    }
}