body{
    background-color: #F0F2FC;
    margin: 0;
}

main.accueil > img{
    width: 50%;
    border: solid 10px #2C2E7A;
}

main.accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.accueil{
    background-color: #2C2E7A;
    padding: 1em;
    margin: 2em 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

section.accueil:nth-of-type(2), section.accueil:nth-of-type(4){
    display: flex;
    flex-direction: column;
}

section.accueil:nth-of-type(4){
    width: 50%;
}

section.accueil article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%
}

section.accueil p{
    color: #F0F2FC;
    font-size: 25px;
    text-align: center;
    font-family: "Roboto";
}
section.accueil article img{
    width: 100%;
}


section.accueil:last-of-type{
    display: flex;
    align-items: center;
}

section.accueil:last-of-type article{
    width: 40%;
}

main.accueil h4{
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
    font-family: "league Spartan";
    font-size: 25px;
    background-color: #080A12;
    color: #F0F2FC;
    width: auto;

    border-radius: 30px;
}




/*-----------------------------------HEADER--------------------------------------------------------*/
header {
    position: sticky;
    top: 0%;
    display: flex;
    align-items: center;
    height: 6em;
    width: 100%;
    background-color: rgba(8, 10, 18, 0.5);
    background-image: url(media/accueil/images/logo_JO.png);
    background-repeat: no-repeat;
    background-position: right;
    z-index: 2;
}



header h2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    height: 1.5em;
    width: 10em;
    color :aliceblue;
    font-family: "league Spartan", serif;
    font-size: 2em;
    margin-left: 2em;
    position: relative;
    background-color: #080A12;
}

header img{
    position: relative;
    margin-left: 1em;
}

/*-----------------------------------------------------COMMUN-----------------------------------------------------*/


main img:first-child{
    width: 100%;
    height: 100%;
    border: none;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080A12;
    color :#F0F2FC;
    font-size: 3em;
    font-family: "league Spartan";
    margin: 0 43%;
    height: 2em;
    width: auto;
    padding: 0 1em;
    margin-top: 1em;
    border-radius: 30px;
}

h3{
    display: flex;
    align-items: center;
    font-family: "league spartan", arial;
    font-size: large;
    background-color: #080A12;
    color: #F0F2FC;
    height: 5em;
    width: 70%;
    padding-left: 20px;
    background-image: url(media/accueil/images/logo_JO.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 5em;
    border-radius: 20px;
}


/*--------------------------------------------tableaux----------------------------------------------*/
table {
    width: 100%;
    border-spacing: 2px;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

td{
    background-color: #F0F2FC;
}

thead {
    background-color: #080A12; 
    color: white;
    font-weight: bold;
}

thead th {
    padding: 10px;
}

tbody td, thead th {
    padding: 10px; 
    text-align: center;
}

td {
    text-align: center;
}

table caption {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #2C2E7A;
}
/*--------------------------------------------------------------------------------------------------*/

/*--------------------------------------------footer----------------------------------------------*/
footer {
    background-color: #151a30;
    color: #fff;
    padding: 20px 5px;
    display: flex;  
    flex-wrap: wrap; 
    text-align: left;
}

footer>img:first-of-type {
    width: 10em;
    height: 11em;
}


footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none; 
    color: white; 
    font-size: 14px; 
}

footer ul li img{
    width: 2em;
    margin: 0 5px;
}

#social-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-content: center;
    gap: 10px;
    align-items: center; 
}

footer article{
    margin: 0 3%;
    padding-left: 3%;
    border-left: solid 1px #F0F2FC;
}

/*--------------------------------------------------------------------------------------------------*/

