body{
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top: 0%;
    display: flex;
    align-items: center;
    height: 6em;
    width: 100%;
    background-color: rgba(8, 10, 18, 0.5);
    background-image: url(media/accueil/images/logo_JO.png);
    background-repeat: no-repeat;
    background-position: right;
    z-index: 2;
}



header h2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    height: 1.5em;
    width: 10em;
    color :aliceblue;
    font-family: "league Spartan", serif;
    font-size: 2em;
    margin-left: 2em;
    position: relative;
    background-color: #080A12;
}

header img{
    position: relative;
    margin-left: 1em;
}

main > img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    object-fit: fill;
    top: 0px;
}

h3{
    display: flex;
    align-items: center;
    font-family: "league spartan", arial;
    font-size: large;
    background-color: #080A12;
    color: #F0F2FC;
    height: 5em;
    background-image: url(media/accueil/images/logo_JO.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 5em;
    margin: 0em 10em;
    border-radius: 20px;
}


/*--------------------------------------------tableaux----------------------------------------------*/
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

thead {
    background-color: #080A12; 
    color: white;
    font-weight: bold;
}

thead th {
    padding: 10px;
}

tbody td, thead th {
    border: 1px solid #ddd; 
    padding: 10px; 
}

td {
    text-align: center;
}

table caption {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #2C2E7A;
}
/*--------------------------------------------------------------------------------------------------*/

/*--------------------------------------------footer----------------------------------------------*/
.footer {
    background-color: #151a30;
    color: #fff;
    padding: 20px 40px;
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 20px; 
    text-align: left;
}

.logo-section img {
    width: 120px;
}

.social-section h2,
footer h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.social-icons {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 10px;
}

.social-icons img {
    width: 30px;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none; 
    color: white; 
    font-size: 14px; 
}

footer section {
    flex: 1 1 220px;
    min-width: 220px; 
}

.logo-section {
    flex: 0 1 auto;
}

/*--------------------------------------------------------------------------------------------------*/
