body {
    background-color: #000000;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    background-color: #ffffff;
    padding: 1em;
    margin: 2em 4em;
    border-radius: 20px;
}

header {
    position: sticky;
    top: 0%;
    display: flex;
    align-items: center;
    height: 6em;
    width: 100%;
    background-color: rgba(8, 10, 18, 0.5);
    background-image: url(media/accueil/images/logo_JO.png);
    background-repeat: no-repeat;
    background-position: right;
    z-index: 2;
}

header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    height: 1.5em;
    width: 10em;
    color: aliceblue;
    font-family: "league Spartan", serif;
    font-size: 2em;
    margin-left: 2em;
    position: relative;
    background-color: #080A12;
}

header img {
    position: relative;
    margin-left: 1em;
}

main > img:first-of-type {
    width: 100%;
    height: 100%;
    border: none;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080A12;
    color: #F0F2FC;
    font-size: 3em;
    margin: 0 43%;
    height: 2em;
    width: 20%;
    margin-top: 1em;
    border-radius: 30px;
}

h3 {
    display: flex;
    align-items: center;
    font-family: "league spartan", arial;
    font-size: large;
    background-color: #080A12;
    color: #F0F2FC;
    height: 5em;
    width: 70%;
    padding-left: 20px;
    background-image: url(media/accueil/images/logo_JO.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 5em;
    border-radius: 20px;
    margin-bottom: 10px; 
}
/*                                          section histoire*/
.discipline-histoire {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
  }
  
  .discipline-bloc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 2rem; 
  }
  
  .discipline-texte {
    flex: 1; 
    text-align: left;
    max-width: 50%; 
  }
  

  .discipline-image {
    flex: 1; 
    max-width: 50%;
    text-align: center;
  }

/*                                                 Section des blocs "Techniques" */


.discipline-techniques h4 {
    font-size: 2rem; 
    color: #F0F2FC; 
    text-align: center; 
    margin: 0; 
    padding: 1rem 0; 
    background-color: #080A12; 
    border-radius: 15px; 
    width: 70%; 
}

.discipline-techniques-regles section{
    background-color: #000000;
}

.discipline-techniques {
    display: flex; 
    flex-wrap: wrap;  
    gap: 10px; 
    padding: 5px; 
    background-color: #101010; 
    align-items: center;
    border-radius: 15px;
}

.discipline-techniques article {
    background-color: #0156A5;
    display: flex;
    flex-direction: column;
    max-width: 45%; 
    width: 100%; 
    padding: 10px; 
    border-radius: 10px;
    align-items: center;
}


.discipline-techniques img {
    width: 100%;  
    height: auto;  
}

.discipline-techniques-regles {
    background-color: #b29efb; 
}
/*----------------------------------- Section Epreuves ------------------------------*/
.discipline-epreuves {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 2em auto; 
    padding: 2em; 
    background-color: #8C97E9;
    border-radius: 20px;
    width: 90%; 
}

.discipline-epreuves h3 {
    text-align: center; 
    font-size: 2rem;
    color: #080A12; 
    margin-bottom: 1.5em; 
}

.discipline-epreuves-container {
    display: flex;
    justify-content: space-between; 
    
    width: 100%;
}


.discipline-epreuves-list {
    display: block; 
    width: 48%; 
}

.discipline-epreuves-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;  
    color: black;         
  }

  .discipline-epreuves-list li {
    position: relative;
    padding-left: 50px; 
  }


  .discipline-epreuves-list li::before {
    content: '';    
    position: absolute;
    left: 0;
    top: 50%; 
    transform: translateY(-50%); 
    width: 20px;
    height: 20px; 
    background: url('../media/discipline/images/icon-natation.png') no-repeat center center;
    background-size: contain; 
  }
  .discipline-epreuves-list a {
    text-decoration: none; 
    color: black; 
    font-size: 1.8rem; 
    font-weight: bold; 
}



/*--------------------------------------------tableaux----------------------------------------------*/
table {
    width: 100%;
    border-spacing: 2px;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

td {
    background-color: #F0F2FC;
}

thead {
    background-color: #080A12; 
    color: white;
    font-weight: bold;
}

thead th {
    padding: 10px;
}

tbody td, thead th {
    padding: 10px; 
    text-align: center;
}

td {
    text-align: center;
}

table caption {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #2C2E7A;
}
/*--------------------------------------------------------------------------------------------------*/

/*--------------------------------------------footer----------------------------------------------*/
footer {
    background-color: #151a30;
    color: #fff;
    padding: 20px 5px;
    display: flex;  
    flex-wrap: wrap; 
    text-align: left;
}

footer>img:first-of-type {
    width: 10em;
    height: 11em;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none; 
    color: white; 
    font-size: 14px; 
}

footer ul li img {
    width: 2em;
    margin: 0 5px;
}

#social-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-content: center;
    gap: 10px;
    align-items: center; 
}

footer article {
    margin: 0 3%;
    padding-left: 3%;
    border-left: solid 1px #F0F2FC;
}
/*--------------------------------------------------------------------------------------------------*/

@media (max-width: 1068px) {
    body {
        margin: 0;
    }

    header h2 {
        font-size: 1.5em;
        width: auto;
        margin-left: 1em;
    }

    header {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
    }

    main {
        margin: 0;
        padding: 0;
    }

    main section {
        margin: 1em 1em;
    }

    h1 {
        font-size: 2em;
        margin: 1em auto;
        width: 80%;
    }

    h3 {
        font-size: medium;
        padding: 1em;
        background-size: 3em;
    }

    .discipline-histoire .discipline-bloc {
        flex-direction: column; 
    }

    .discipline-histoire .discipline-texte,
    .discipline-histoire .discipline-image {
        max-width: 100%;
    }

    .discipline-histoire .discipline-image img {
        max-width: 100%;
    }
    .discipline-bloc {
        display: flex; 
        flex-direction: column;
        align-items: center;
        
      }

    .discipline-techniques h4 {
        font-size: 1.5rem; 
        padding: 0.8rem 0; 
        width: 90%; 
    }

    .discipline-techniques {
        flex-direction: column; 
        gap: 15px; 
        padding: 10px; 
    }

    .discipline-techniques article {
        max-width: 80%; 
        padding: 15px; 
        text-align: center; 
    }

    .discipline-techniques img {
        max-width: 100%; 
        border-radius: 10px; 
    }

    .discipline-techniques p {
        font-size: 0.9rem; 
    }


    
    .discipline-epreuves-container {
        flex-direction: column;
        align-items: stretch;
        align-items: center;
    }

    .discipline-epreuves-list li {
        font-size: 0.9rem;
        padding: 2em;
    }
    
    table {
        font-size: 14px; 
    }

    table caption {
        font-size: 18px;
    }

    tbody td, thead th {
        padding: 5px;
    }

    footer {
        flex-direction: column;
        text-align: center; 
    }

    footer article {
        margin: 1em 0;
        border-left: none; 
        padding: 0;
    }

    footer #social-icons {
        grid-template-columns: repeat(2, 1fr); 
    }
}
